h1 {
    text-align: center;
}
.style {
    font-family: fantasy;
    color: #c8b21e;
    background-color: #cdc;
}
.line {
    border-width: 3px;
    border-color: #908019;
    border-style: dashed;
}
.padding {
    padding: 50px;
}
.size {
    font-size: 20px;
}
.style2 {
    font-family: fantasy;
    color: #c8b21e;
    background-color: #ACA;
}